:root{

    --primary-color: #FFFFFF;
    --heading-color: #333333;
    --paragraf-color:#494949;
    --btn-fill: #0099FF;
    --btn-text:#0099FF;
    --skyblue: rgba(0, 153, 255, 0.04); 



}

body{
    font-family: "Inter", sans-serif;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;

}



nav{
 
    display: flex;
    justify-content: space-between;
    padding: 32px 10px;

  & ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 20px;
}  

 & li a{
    color: var(--heading-color);
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    


 }

 & img{
    padding-left:80px ;
   
 }

 & .btn-primary{
    padding:18px 70px ;
 }
 

}

h1{
    color: var(--heading-color);
    font-size: 60px;
    font-weight: bold;
    line-height: 110px;
    stroke: #000000;
   
    

}

h2{
    color: var(--heading-color);
    font-size: 48px;
    font-weight: bold;
    line-height: 52px;


}

h3{
    color: var(--heading-color);
    font-size: 32px;
    font-weight:700;
}

h4{
    color: var(--heading-color);
    font-size: 20px;
}


p{
    color: var(--paragraf-color);
    font-size: 16px;
    line-height: 18px;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.hero-content{
    padding-left: 80px;
    margin-top: 180px;

    

}


.services{
    background-color: var(--skyblue);
    padding: 90px  30px;

}

.service-heading{
    text-align: center;
    padding: 50px 30px;
    

    & h4{
        margin-bottom: 20px;

    }

    & p{
        margin: 40px auto;
        text-align: center;
        max-width: 620px;
        
        
    }
}

.services-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.about-us{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 120px;
}

.about-image{
    padding-left: 40px;
}

.about-text{
    padding-top: 140px;
    

    & p{
        padding: 40px;
        line-height: 156%;
        color: var(--paragraf-color);
    }

    & h2{
        padding-top: 20px;
    }

    & .btn-primary{
        padding:15px 40px ;
     }
    
}

.team{
    text-align: center;
    padding: 90px 30px;
    background-color: var(--skyblue);
    

    & h4{
        margin-bottom: 20px;

    }

    & p{
        line-height: 156%;
        margin: 40px auto;
        max-width: 500px;
        text-align: center;
        
        
        
    }
}

.team-card-imgs{
    display: flex;
    justify-content:space-evenly;
    padding-top: 60px;
    padding-left: 30px;

}


.btn-primary{
background-color: var(--btn-fill);
border-radius: 3px;
color:var(--primary-color);
display: block;
font-size: 18px;
padding: 12px 24px;
text-decoration: none;
width: fit-content;

}

.btn-secundary{
    border-radius: 3px;
    color:var(--btn-text);
    display: block;
    font-size:larger;
    text-decoration: none;
    padding: 12px 24px;
    text-decoration: none;
    width: fit-content;
   
}



